
.costs {
    &__create-item {
        display: flex;
        justify-content: end;
        flex-direction: column;
        gap: 10px 0;
    }

    &__create-help {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 0 3px;
    }
}

.show-costs-list {
    &__num {
        width: 50px;
    }

    &__date,
    &__limit-per-day {
        width: 115px;
    }
}

button[aria-expanded=false] {
    & > span:last-child {
        display: none;
    }
}

button[aria-expanded=true] {
    & > span:first-child {
        display: none;
    }

    & > span:last-child {
        display: block;
    }
}
